<h1>Ruby Monstas Curriculum </h1>
<%= @current_time %>

<% if @curriculum_items.nil? %>
  <p>No curriculum items available</p>
<% else %>
  <% @curriculum_items.each do |item| %>
    <ul>
      <a href="/curriculum/<%= item.lesson_id %>">  
        <li>Lesson ID: <%= item.lesson_id %>, <%= item.lesson_name %></li>
      </a>
    </ul>
  <% end %>
<% end %>


 